.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 990;
}

.fixed-top-above {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 995;
}

.nested-object-field-name {
	font-weight: bold;
}

.nested-array-field-name {
	font-style: italic;
	font-weight: bold;
}

.container-fluid {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.app-container {
	padding-top: 4em;
}

div.table-container {
	width: 100%;
	height: calc(100vh - 5em);
	overflow: auto;
}

div.table-container-scroll {
	width: 100%;
	height: calc(100vh - 5em);
	overflow: scroll;
}

.header-less-tabs .mat-mdc-tab-header {
	display: none;
}

html, body {
	overscroll-behavior-y: none;
}

.cell-font {
	font-family: Consolas, monospace, Courier, Courier New;
}
