.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 990;
}

.fixed-top-above {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 995;
}

chrome://settings/clearBrowserData

.container-fluid {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.app-container {
	padding-top: 4.5em;
	padding-bottom: 0.5em;
}

.nested-object-field-name {
	font-weight: bold;
}

.nested-array-field-name {
	font-style: italic;
	font-weight: bold;
}

div.table-container {
	width: 100%;
	height: calc(100vh - 10em);
	overflow: auto;
}

div.table-container-scroll {
	width: 100%;
	height: calc(100vh - 10em);
	overflow: scroll;
}

.header-less-tabs .mat-mdc-tab-header {
	display: none;
}

.string-node {
	color: antiquewhite;
}

.number-node {
	color: lightgreen;
}

.date-node {
	color: deepskyblue;
}

.bigint-node {
	color: lawngreen;
}

.bool-node {
	color: sandybrown;
}

.any-node {
	color: lightgray;
}

html, body {
	overscroll-behavior-y: none;
}

.cell-font {
	font-family: Consolas, monospace, Courier, Courier New;
}

table {
	background-color: #1e1e1e;
	border-color: lightyellow !important;
	color: white;
}

tbody {
	border-color: whitesmoke !important;
}

.data-area {
	background-color: #1a1a1a;
	color: white;
}

body {
	background-color: #2a2a2a;
}
