<div class="fixed-top">
	<mat-toolbar #toolbar fxLayoutGap="1em">
		<mat-button-toggle-group #menuToggleGroup #group="matButtonToggleGroup" [value]="currentModuleName">
			<mat-button-toggle (click)="toggleTable()" value="table">
				<span>Table</span>
			</mat-button-toggle>
			<mat-button-toggle (click)="toggleTree()" value="tree">
				<span>Tree</span>
			</mat-button-toggle>
		</mat-button-toggle-group>
		<button type="button" mat-mini-fab color="any" [matMenuTriggerFor]="mainMenu">
			<strong>...</strong>
		</button>
		<mat-menu #mainMenu="matMenu" [overlapTrigger]="false">
			<button mat-menu-item type="button" (click)="loadJsonFile()">
				Load from File
			</button>
			<button mat-menu-item type="button" (click)="loadJsonFromUrl()">
				Load from URL
			</button>
			<button mat-menu-item type="button" (click)="pasteFromClipboard()" matTooltip="Paste from Clipboard">
				Paste from Clipboard
			</button>
			<button mat-menu-item type="button" (click)="copyIndentedJsonToClipboard()">
				Copy Indented JSON to Clipboard
			</button>
			<button mat-menu-item type="button" (click)="copyHtmlToClipboard()">
				Copy HTML to Clipboard
			</button>
		</mat-menu>

		<label>{{currentFileName}}</label>
	</mat-toolbar>
</div>

<div class="container-fluid app-container">
	<mat-tab-group #tabGroup animationDuration="0" preserveContent class="header-less-tabs">
		<mat-tab label="Table">
			<div *ngIf="!usedOnce">Display loaded JSON data in tables.</div>
			<!--<tree-table *ngIf="useMaterial && hackFlag" [data]="tableData"></tree-table>-->
			<div [ngClass]="scroll?'table-container-scroll' : 'table-container'">
				<tree-table-cdk *ngIf="hackFlag" #treeTableRef [data]="tableData"></tree-table-cdk>
			</div>
		</mat-tab>
		<mat-tab label="Tree">
			<div *ngIf="!usedOnce">Display loaded JSON data in tree.</div>
			<div [ngClass]="scroll?'table-container-scroll' : 'table-container'">
				<json-tree *ngIf="usedOnce" [data]="tableData"></json-tree>
			</div>
		</mat-tab>
	</mat-tab-group>
</div>
<!--<tabulator-table [tableData]="tableData" [columnNames]="columnNames"  [height]="'800px'"></tabulator-table>-->
