<div class="fixed-top">
	<mat-toolbar #toolbar fxLayoutGap="1em">
		<button type="button" mat-button mat-raised-button mat-icon-button [matMenuTriggerFor]="mainMenu">
			<strong>...</strong>
		</button>
		<mat-menu #mainMenu="matMenu" [overlapTrigger]="false">
			<button mat-menu-item type="button" (click)="loadJsonFile()">
				Load from File
			</button>
			<button mat-menu-item type="button" (click)="loadJsonFromUrl()">
				Load from URL
			</button>
			<button mat-menu-item type="button" (click)="pasteFromClipboard()" matTooltip="Paste from Clipboard">
				Paste from Clipboard
			</button>
			<button mat-menu-item type="button" (click)="getIndentedText()">
				Copy Indented JSON to Clipboard
			</button>
		</mat-menu>

		<label>{{currentFileName}}</label>
	</mat-toolbar>
</div>

<div class="container-fluid app-container">
	<mat-tab-group animationDuration="0" preserveContent>
		<mat-tab label="Table">
			<div *ngIf="!usedOnce">Display loaded JSON data in tables.</div>
			<!--<tree-table *ngIf="useMaterial && hackFlag" [data]="tableData"></tree-table>-->
			<div [ngClass]="scroll?'table-container-scroll' : 'table-container'">
				<tree-table-cdk *ngIf="hackFlag" [data]="tableData"></tree-table-cdk>
			</div>
		</mat-tab>
		<mat-tab label="Tree">
			<div *ngIf="!usedOnce">Display loaded JSON data in tree.</div>
			<div  [ngClass]="scroll?'table-container-scroll' : 'table-container'">
				<json-tree *ngIf="usedOnce" [data]="tableData"></json-tree>
			</div>
		</mat-tab>
	</mat-tab-group>
</div>
<!--<tabulator-table [tableData]="tableData" [columnNames]="columnNames"  [height]="'800px'"></tabulator-table>-->
