<div mat-dialog-title>
	<strong>{{ title }}</strong>
</div>
<mat-dialog-content>
	<p>{{ body }}</p>
	<ngx-dropzone (change)="onSelect($event)" [multiple]="false" accept="application/json,text/json">
		<ngx-dropzone-label>Drop JSON file here, or click to select from file system</ngx-dropzone-label>
		<ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
			<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
		</ngx-dropzone-preview>
	</ngx-dropzone>
	<!--<input id="uploadFile" name="uploadFile" type="file" (change)="fileChangeListener($event)"
		   [accept]="acceptFilter" />
	<div *ngIf="file">
		<p>MIME Type: {{ mimeType }}</p>
	</div>-->
</mat-dialog-content>
<mat-dialog-actions class="fx-column-gap-1" [align]="actionsAlign">
	<button type="button" mat-raised-button (click)="cancel()">No</button>
	<button type="button" mat-raised-button (click)="confirm()" [disabled]="!file">Yes</button>
</mat-dialog-actions>
