tr.mat-mdc-row {
	border: 1px solid red;
}

.mat-mdc-table {
	overflow: auto;
	border: 2px solid black;
}

th.mat-mdc-header-cell {
	border: 1px solid blue;
}

td.mat-mdc-cell {
	border: 1px solid green;
}

	td.mat-mdc-cell:first-child {
		border-left: 1px solid blue;
	}

	td.mat-mdc-cell:last-child {
		border-right: 1px solid blue;
	}
