tr.mat-row {
	border: 1px solid red;
}

.mat-table {
	overflow: auto;
	border: 2px solid black;
}

th.mat-header-cell {
	border: 1px solid blue;
}

td.mat-cell {
	border: 1px solid green;
}

	td.mat-cell:first-child {
		border-left: 1px solid blue;
	}

	td.mat-cell:last-child {
		border-right: 1px solid blue;
	}
